@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

div {
    display: block;
}

.block1{
    width: 1440px;
    height: 500px;
    display: flex;
    background: #ED4C5C;
}

.section1 {
    padding: 122px 0px 115px 165px;
    display: inline;
}

.header1 {
    width: 445px;
    height: 107px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.p1 {
    width: 445px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    text-align: justify;
    color: #FFFFFF;
    margin-top: 24px;
}

.footer1 {
    margin-top: 40px;
}

.img2, .img3 {
    margin-left: 28px;
}

.section2 {
    width: 830px;
    display: inline;
    position: relative;
}

.img4 {
    position: absolute;
    left: 81px;
    top: 116px;
}

.img5 {
    position: absolute;
    right: 216px;
    top: 116px;
}

.img6 {
    position: absolute;
    right: 260px;
    top: 94px;
}



